
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

/* CSS style for the nodes. */
.node {
  cursor: pointer;
  stroke: #0;
  fill: #0;
  stroke-width: 1.5px;
}

/* CSS style for the links between the node. */
.link {
  fill: #666;
  stroke: #666;
  stroke-width: 1px;
}

/* CSS style for the arrows to attach to the links. 
   Most attributes are defined in the javascript.
*/
marker#arrow {
    fill: #266;
}
